
    <h1>Merge PDF Free</h1>
    <h4 routerLink="/split-pdf">Go to Split Pdf</h4>

<div class="container">
    <div>
        <div class="file-input-container">
            <input id="fileInput" type="file" (change)="onFilesSelected($event)">
        </div>

        <div>
            <h2>List of pdf files</h2>
            <ng-container *ngIf="this.selectedFiles.length!==0">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <ng-container *ngFor="let item of this.selectedFiles; let i = index">
                        <div class="example-box" cdkDrag>
                            <div>
                                {{i}} - {{item.name}}
                            </div>
                            <div *ngIf="false">
                                <div *ngIf="this.checked[i].length > 1">
                                    <label for="start">Start:</label>
                                    <select id="start" class="dropdown" (click)="inputNumber($event, 'start')">
                                        <option value="start"></option>
                                        <ng-container *ngFor="let item of this.checked[i]; let isLast = last">
                                            <ng-container *ngIf="!isLast">
                                                <option [value]="item">
                                                  {{ item }}
                                                </option>
                                              </ng-container>
                                        </ng-container>
                                    </select>
                                    <label for="end">End:</label>
                                    <select id="start" class="dropdown" (click)="inputNumber($event, 'end')">
                                        <option value="end"></option>
                                        <ng-container *ngFor="let item of this.checked[i]let i = index">
                                            <ng-container *ngIf="i >= 1">
                                              <option [value]="item">
                                                {{ item }}
                                              </option>
                                            </ng-container>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <!-- <div *ngIf="this.checked[i].length > 1 ; else onlyone"> -->
                            <div *ngIf="false">
                                <label for="all">All:</label>
                                <input type="checkbox" id="all" name="" checked>
                            </div>
                            <div>
                                <button (click)="remove(i)">🗑️</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <button class="merge_btn" (click)="mergePDFs()" [disabled]="this.selectedFiles.length===0">Merge PDFs and
            Preview</button>
            <div id="download">
            </div>
    </div>
    <div id="display">
    </div>
</div>
<ng-template #onlyone>
    One page
</ng-template>